#!/usr/bin/make -f

%:
	dh $@

# Override these two rules to prevent unnecessary rebuilding
override_dh_auto_clean:
	@# Do nothing

override_dh_auto_build:
	@# Do nothing

# This rule is overridden to install the service with a different name than the
# package
override_dh_systemd_enable:
	dh_systemd_enable --name pihole-FTL
